<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-sidebar sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- User-->
    <a [routerLink]="['/profile']" class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-text mx-3">{{userType}} Profile</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Personal Area
    </div>

    <!-- For all users -->
    <li *ngIf="isUser" class="nav-item">
        <a [routerLink]="['/profile']" class="nav-link collapsed">
            <i class="fas fa-fw fa-cog"></i>
            <span>Personal Data</span>
        </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Administration
    </div>
    <!--Cliente-->
    <li class="nav-item" *ngIf="isClient">
        <a [routerLink]="['/clientReservations', user.id]" class="nav-link">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>My reservations</span></a>
    </li>

    <!--Managers-->
    <li class="nav-item" *ngIf="isManager">
        <a [routerLink]="['/viewHotelsManager']" class="nav-link">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>My Hotels</span></a>
    </li>

    <!--Admin-->
    <li class="nav-item" *ngIf="isAdmin">
        <a [routerLink]="['/managerValidation']" class="nav-link">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Validate new managers</span></a>
    </li>
    <!--Admin-->


    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Main page
    </div>

    <li class="nav-item">
        <a [routerLink]="['/mainPage']" class="nav-link">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Return to main page</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    <!-- End of Sidebar -->
</ul>