{{>headerindex}}
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index">Your<span>HOmeTEL</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
        <ul class="navbar-nav ml-auto">
          <div class="collapse navbar-collapse" id="ftco-nav">
            <div class="sidebar-box mt-3">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon ion-ios-search"></span>
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
              </form>
            </div>
          </div>
          <li class="nav-item active"><a href="index" class="nav-link">Home</a></li>
          {{^isUser}}
          <li class="nav-item"><a href="login" class="nav-link">Log In</a></li>
          {{/isUser}}
          {{#isUser}}
          <li class="nav-item"><a href="profile" class="nav-link">Profile</a></li>
          {{/isUser}}
	      </ul>
	    </div>
	  </nav>
    <!-- END nav -->
		<div class="hero-wrap" style="background-image: url('images/bg_3.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          	<div class="text">
	            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home</a></span> <span>About Us</span></p>
	            <h1 class="mb-4 bread">Our Hotels</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row d-flex">
          {{#hotels}}
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="hotelinformation/{{id}}" class="block-20 rounded" style="background-image: url('images/hotel1.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading"><a href="hotelinformation">{{name}}</a></h3>
                <p>{{description}}</p>
                {{#isClient}}
                <a href="hotelinformation" class="btn btn-secondary rounded">Book now</a>
                {{/isClient}}
                <a href="hotelreview" class="btn btn-secondary rounded">Reviews</a>
              </div>
            </div>
          </div>
          {{/hotels}}
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('images/hotel2.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading"><a href="hotelinformation">Metropolitan Palace Hotel</a></h3>
                <p>An urban oasis where classic elegance meets contemporary luxury. With spacious rooms, exquisite cuisine, and a prime location, Metropolitan Palace Hotel.</p>
                {{#isClient}}
                <a href="hotelinformation" class="btn btn-secondary rounded">Book now</a>
                {{/isClient}}
                <a href="hotelreview" class="btn btn-secondary rounded">Reviews</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('images/hotel3.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading"><a href="hotelinformation">Serenity Alpine Lodge</a></h3>
                <p>An exclusive mountain retreat where tranquility and nature merge. With breathtaking views and a relaxing atmosphere, Serenity Alpine Lodge is a sanctuary of alpine peace.</p>
                {{#isClient}}
                <a href="hotelinformation" class="btn btn-secondary rounded">Book now</a>
                {{/isClient}}
                <a href="hotelreview" class="btn btn-secondary rounded">Reviews</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('images/hotel4.jpg');">
              </a>
              <div class="text mt-3">
              	<div class="meta mb-2">
                </div>
                <h3 class="heading"><a href="hotelinformation">Imperial Heritage Hotel</a></h3>
                <p>A historic palace transformed into a luxury haven of distinction. With sumptuous rooms and exquisite cuisine, Imperial Heritage Hotel is a journey to the grandeur of bygone eras.</p>
                {{#isClient}}
                <a href="hotelinformation" class="btn btn-secondary rounded">Book now</a>
                {{/isClient}}
                <a href="hotelreview" class="btn btn-secondary rounded">Reviews</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('images/hortel5.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading"><a href="hotelinformation">Palms of Paradise Resort</a></h3>
                <p>A luxurious tropical retreat where serenity and indulgence meet. With oceanfront villas and vibrant culinary experiences, Palms of Paradise Resort is a tropical paradise come to life.</p>
                {{#isClient}}
                <a href="hotelinformation" class="btn btn-secondary rounded">Book now</a>
                {{/isClient}}
                <a href="hotelreview" class="btn btn-secondary rounded">Reviews</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('images/hotel6.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading"><a href="hotelinformation">Costa Dorada Hotel</a></h3>
                <p> An elegant coastal destination in the heart of the Mediterranean. With sea-view rooms and exceptional Mediterranean cuisine, Costa Dorada Hotel is a celebration of Mediterranean charm.</p>
                {{#isClient}}
                <a href="hotelinformation" class="btn btn-secondary rounded">Book now</a>
                {{/isClient}}
                <a href="hotelrieview" class="btn btn-secondary rounded">Reviews</a>
              </div>
            </div>
          </div>
        </div>
    </section>

    {{>footerindex}}