<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{{>header}}
<body>

  <div id="chartContainer" style="height: 300px; width: 100%;"></div>

  <p>Pagina test chart ha cargado</p>
  {{>footer}}  
</body>

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://cdn.canvasjs.com/jquery.canvasjs.min.js"></script>
<script src="/js/testChart.js">let data = {info}</script>

</html>
