{{>header}}

<!-- Custom styles sidebar-->
<link href="css/all.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
<link href="css/sb-admin-2.css" rel="stylesheet">

<!-- Custom styles-->
<link rel='stylesheet' href="css/clientListManagerStyles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css'>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js'></script>

<!-- Custom fonts-->
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles-->
<link rel="stylesheet" href="css/managerStyles.css" />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css'>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js'></script>

<title>Hotels Manager</title>
</head>

<body>
    {{>sidebar}} <!-- Page Wrapper -->
    <div class="container">
        <div id="content-wrapper" class="d-flex flex-column">
            <div class="row mt-4 ml-2 mr-2">
                <div class="col-12 mb-3 mb-lg-5">
                    <div class="overflow-hidden card table-nowrap table-card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">My hotels</h5>
                            <a href="#!" class="btn btn-light btn-sm">View All</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table" style="margin-bottom: 120px;">
                                <thead class="small text-uppercase bg-body text-muted">
                                    <tr>
                                        <th>Name</th>
                                        <th>Location</th>
                                        <th>Rating score</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#hotels}}
                                    <tr class="align-middle">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <div class="h6 mb-0 lh-1">{{name}}</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td> <span class="d-inline-block align-middle">{{location}}</span></td>
                                        <td><span>{{rating}}</span></td>
                                        <td class="text-end">
                                            <div class="drodown">
                                                <a data-bs-toggle="dropdown" href="#" class="btn p-1"
                                                    aria-expanded="false">
                                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="edithotel/{{id}}" class="dropdown-item">Edit
                                                        information</a>
                                                    <a href="clientlist/{{id}}" class="dropdown-item">Clients</a>
                                                    <hr class="collapse-divider">
                                                    <a href="/deleteHotel/{{id}}" class="dropdown-item-danger">Delete hotel</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/hotels}}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; yourHOmeTEL 2024</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.bundle.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="js/jquery.easing.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.js"></script>
</body>

</html>