{{#hotels}}
<tr class="align-middle">
  <td><span class="d-inline-block align-middle">{{name}}</span></td>
  <td> <span class="d-inline-block align-middle">{{location}}</span></td>
  <td><span class="d-inline-block align-middle">{{averageRating}}</span></td>
  <td class="text-end">
    <div class="drodown">
      <a data-bs-toggle="dropdown" href="#" class="btn p-1" aria-expanded="false">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end">
        <a href="/editHotel/{{id}}" class="dropdown-item">Edit
          information</a>
        <a href="/clientList/{{id}}" class="dropdown-item">Clients</a>
        <hr class="collapse-divider">
        <a href="/deleteHotel/{{id}}" class="dropdown-item-danger">Delete
          hotel</a>
      </div>
    </div>
  </td>
</tr>
{{/hotels}}